# Generated manually for prototype; switch to roxygen later.

export(dBB)
export(rBB)
export(BBreg)
export(BBest)
export(BBmm)
S3method(print, BBreg)
S3method(summary, BBreg)
S3method(print, summary.BBreg)
S3method(print, BBest)
S3method(summary, BBest)
S3method(print, summary.BBest)
S3method(print, BBmm)
S3method(summary, BBmm)
S3method(print, summary.BBmm)
S3method(coef, BBreg)
S3method(vcov, BBreg)
S3method(fitted, BBreg)
S3method(coef, BBmm)
S3method(vcov, BBmm)
S3method(fitted, BBmm)

importFrom(stats, model.frame, model.matrix, model.response, nlminb,
           pnorm, pt, pchisq, rbeta, rbinom, optim, setNames,
           printCoefmat, glm.fit, binomial, optimHess, var, update,
           qlogis)
importFrom(TMB, MakeADFun, sdreport, compile)
importFrom(utils, modifyList)
importFrom(methods, is)
